image-upload.imageUpload {
  min-height: 180px;
  min-width: 180px;
}

img.profileImage{
  border-radius: 50%;
}

.profileImage:hover{
  border: 300px red;
}

.clickable{
  cursor: pointer;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 99;
}

.profileImage:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
