.proposal {
  border-left: 5px solid #008CBA;
}

.accepted {
  border-left: 5px solid green;
}

.declined {
  border-left: 5px solid red;
}

.requested {
  -webkit-animation: pulse 3.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 3.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 3.75s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 3.75s infinite cubic-bezier(0.66, 0, 0, 1);
  border-left: 5px solid gold;
  box-shadow: 0 0 0 0 gold;
}

.requested:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.minWidth400{
  min-width: 400px;
}
